iControl/wsdl/Networking.SelfIPV2.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2009, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.SelfIPV2"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:simpleType name="Networking.SelfIPV2.AllowMode">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="ALLOW_MODE_PROTOCOL_PORT">
					<xsd:annotation>
						<xsd:documentation>ALLOW_MODE_PROTOCOL_PORT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ALLOW_MODE_NONE">
					<xsd:annotation>
						<xsd:documentation>ALLOW_MODE_NONE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ALLOW_MODE_DEFAULTS">
					<xsd:annotation>
						<xsd:documentation>ALLOW_MODE_DEFAULTS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="ALLOW_MODE_ALL">
					<xsd:annotation>
						<xsd:documentation>ALLOW_MODE_ALL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Networking.SelfIPV2.ProtocolPortAccess">
			<xsd:sequence>
				<xsd:element name="mode" type="tns:Networking.SelfIPV2.AllowMode"/>
				<xsd:element name="protocol_ports" type="tns:Networking.SelfIPV2.ProtocolPortSequence"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Common.ProtocolType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="PROTOCOL_ANY">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_ANY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_IPV6">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_IPV6</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_ROUTING">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_ROUTING</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_NONE">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_NONE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_FRAGMENT">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_FRAGMENT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_DSTOPTS">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_DSTOPTS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_TCP">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_TCP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_UDP">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_UDP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_ICMP">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_ICMP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_ICMPV6">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_ICMPV6</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_OSPF">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_OSPF</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PROTOCOL_SCTP">
					<xsd:annotation>
						<xsd:documentation>PROTOCOL_SCTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.BooleanSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.SelfIPV2.ProtocolPortAccessSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.SelfIPV2.ProtocolPortAccess[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.IPAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.SelfIPV2.ProtocolPortSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Networking.SelfIPV2.ProtocolPort[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Networking.SelfIPV2.ProtocolPort">
			<xsd:sequence>
				<xsd:element name="protocol" type="tns:Common.ProtocolType"/>
				<xsd:element name="port" type="xsd:long"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.EnabledStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.EnabledState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.SelfIPV2.add_allow_access_listRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="access_lists" type="tns:Networking.SelfIPV2.ProtocolPortAccessSequence"/>
</message>
<message name="Networking.SelfIPV2.add_allow_access_listResponse">
</message>

<message name="Networking.SelfIPV2.add_default_protocol_port_access_listRequest">
	<part name="defaults" type="tns:Networking.SelfIPV2.ProtocolPortSequence"/>
</message>
<message name="Networking.SelfIPV2.add_default_protocol_port_access_listResponse">
</message>

<message name="Networking.SelfIPV2.createRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="vlan_names" type="tns:Common.StringSequence"/>
	<part name="addresses" type="tns:Common.IPAddressSequence"/>
	<part name="netmasks" type="tns:Common.IPAddressSequence"/>
	<part name="traffic_groups" type="tns:Common.StringSequence"/>
	<part name="floating_states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.SelfIPV2.createResponse">
</message>

<message name="Networking.SelfIPV2.delete_all_self_ipsRequest">
</message>
<message name="Networking.SelfIPV2.delete_all_self_ipsResponse">
</message>

<message name="Networking.SelfIPV2.delete_self_ipRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.delete_self_ipResponse">
</message>

<message name="Networking.SelfIPV2.get_addressRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.get_addressResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.SelfIPV2.get_allow_access_listRequest">
	<part name="self_ips" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIPV2.get_allow_access_listResponse">
	<part name="return" type="tns:Networking.SelfIPV2.ProtocolPortAccessSequence"/>
</message>

<message name="Networking.SelfIPV2.get_default_protocol_port_access_listRequest">
</message>
<message name="Networking.SelfIPV2.get_default_protocol_port_access_listResponse">
	<part name="return" type="tns:Networking.SelfIPV2.ProtocolPortSequence"/>
</message>

<message name="Networking.SelfIPV2.get_descriptionRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.get_descriptionResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.SelfIPV2.get_floating_stateRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.get_floating_stateResponse">
	<part name="return" type="tns:Common.EnabledStateSequence"/>
</message>

<message name="Networking.SelfIPV2.get_listRequest">
</message>
<message name="Networking.SelfIPV2.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.SelfIPV2.get_netmaskRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.get_netmaskResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.SelfIPV2.get_traffic_groupRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.get_traffic_groupResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.SelfIPV2.get_versionRequest">
</message>
<message name="Networking.SelfIPV2.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Networking.SelfIPV2.get_vlanRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.get_vlanResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.SelfIPV2.is_traffic_group_inheritedRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.is_traffic_group_inheritedResponse">
	<part name="return" type="tns:Common.BooleanSequence"/>
</message>

<message name="Networking.SelfIPV2.remove_allow_access_listRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="access_lists" type="tns:Networking.SelfIPV2.ProtocolPortAccessSequence"/>
</message>
<message name="Networking.SelfIPV2.remove_allow_access_listResponse">
</message>

<message name="Networking.SelfIPV2.remove_default_protocol_port_access_listRequest">
	<part name="defaults" type="tns:Networking.SelfIPV2.ProtocolPortSequence"/>
</message>
<message name="Networking.SelfIPV2.remove_default_protocol_port_access_listResponse">
</message>

<message name="Networking.SelfIPV2.set_descriptionRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="descriptions" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.set_descriptionResponse">
</message>

<message name="Networking.SelfIPV2.set_floating_stateRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="states" type="tns:Common.EnabledStateSequence"/>
</message>
<message name="Networking.SelfIPV2.set_floating_stateResponse">
</message>

<message name="Networking.SelfIPV2.set_netmaskRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="netmasks" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.SelfIPV2.set_netmaskResponse">
</message>

<message name="Networking.SelfIPV2.set_traffic_groupRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="traffic_groups" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.set_traffic_groupResponse">
</message>

<message name="Networking.SelfIPV2.set_vlanRequest">
	<part name="self_ips" type="tns:Common.StringSequence"/>
	<part name="vlan_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.SelfIPV2.set_vlanResponse">
</message>

<!-- portType -->

<portType name="Networking.SelfIPV2PortType">
	<operation name="add_allow_access_list">
     	<documentation>
 Adds the list of access methods, with optional protocols/ports, for the specified self IPs.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.add_allow_access_listRequest"/>
		<output message="tns:Networking.SelfIPV2.add_allow_access_listResponse"/>
	</operation>
	<operation name="add_default_protocol_port_access_list">
	<documentation>
 Adds to the default list of protocols/ports on which access is allowed.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.add_default_protocol_port_access_listRequest"/>
		<output message="tns:Networking.SelfIPV2.add_default_protocol_port_access_listResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Creates the specified self IP addresses with extended attributes.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.createRequest"/>
		<output message="tns:Networking.SelfIPV2.createResponse"/>
	</operation>
	<operation name="delete_all_self_ips">
	<documentation>
 Deletes all self IP addresses.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.delete_all_self_ipsRequest"/>
		<output message="tns:Networking.SelfIPV2.delete_all_self_ipsResponse"/>
	</operation>
	<operation name="delete_self_ip">
	<documentation>
 Deletes the specified self IP addresses.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.delete_self_ipRequest"/>
		<output message="tns:Networking.SelfIPV2.delete_self_ipResponse"/>
	</operation>
	<operation name="get_address">
	<documentation>
 Gets the IP addresses of the specified self IPs.

 Note: A set_address method is not supported.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_addressRequest"/>
		<output message="tns:Networking.SelfIPV2.get_addressResponse"/>
	</operation>
	<operation name="get_allow_access_list">
	<documentation>
 Gets the access lists for the specified self IPs.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_allow_access_listRequest"/>
		<output message="tns:Networking.SelfIPV2.get_allow_access_listResponse"/>
	</operation>
	<operation name="get_default_protocol_port_access_list">
	<documentation>
 Gets the default protocol/port access list on which access is allowed.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_default_protocol_port_access_listRequest"/>
		<output message="tns:Networking.SelfIPV2.get_default_protocol_port_access_listResponse"/>
	</operation>
	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of self IP addresses.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_descriptionRequest"/>
		<output message="tns:Networking.SelfIPV2.get_descriptionResponse"/>
	</operation>
	<operation name="get_floating_state">
	<documentation>
 Gets the floating states of the specified self IPs.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_floating_stateRequest"/>
		<output message="tns:Networking.SelfIPV2.get_floating_stateResponse"/>
	</operation>
	<operation name="get_list">
	<documentation>
 Gets a list of all self IPs on this device.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_listRequest"/>
		<output message="tns:Networking.SelfIPV2.get_listResponse"/>
	</operation>
	<operation name="get_netmask">
	<documentation>
 Gets the netmasks of the specified self IPs.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_netmaskRequest"/>
		<output message="tns:Networking.SelfIPV2.get_netmaskResponse"/>
	</operation>
	<operation name="get_traffic_group">
	<documentation>
 Gets the traffic groups for a set of self IP addresses.
 Note that if the keyword "default" was used to set the
 traffic group, the value returned here will be the actual
 name of the traffic group that was inherited.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_traffic_groupRequest"/>
		<output message="tns:Networking.SelfIPV2.get_traffic_groupResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_versionRequest"/>
		<output message="tns:Networking.SelfIPV2.get_versionResponse"/>
	</operation>
	<operation name="get_vlan">
	<documentation>
 Gets the VLANs with which the specified self IPs are associated.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.get_vlanRequest"/>
		<output message="tns:Networking.SelfIPV2.get_vlanResponse"/>
	</operation>
	<operation name="is_traffic_group_inherited">
	<documentation>
 Gets a flag indicating whether the traffic group was
 inherited from the parent folder.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.is_traffic_group_inheritedRequest"/>
		<output message="tns:Networking.SelfIPV2.is_traffic_group_inheritedResponse"/>
	</operation>
	<operation name="remove_allow_access_list">
	<documentation>
 Deletes protocols and ports from the allow access list for the specified self IPs.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.remove_allow_access_listRequest"/>
		<output message="tns:Networking.SelfIPV2.remove_allow_access_listResponse"/>
	</operation>
	<operation name="remove_default_protocol_port_access_list">
	<documentation>
 Remove protocols and ports from the default list of protocols/ports on which access is allowed.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.remove_default_protocol_port_access_listRequest"/>
		<output message="tns:Networking.SelfIPV2.remove_default_protocol_port_access_listResponse"/>
	</operation>
	<operation name="set_description">
	<documentation>
 Sets the descriptions for a set of self IP addresses.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.set_descriptionRequest"/>
		<output message="tns:Networking.SelfIPV2.set_descriptionResponse"/>
	</operation>
	<operation name="set_floating_state">
	<documentation>
 Sets the floating states of the specified self IPs.
 Note: If floating state is being set to enabled, then unit ID will be set to 1 by default.
       If floating state is being set to disabled, then unit ID will be set to 0.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.set_floating_stateRequest"/>
		<output message="tns:Networking.SelfIPV2.set_floating_stateResponse"/>
	</operation>
	<operation name="set_netmask">
	<documentation>
 Sets the netmasks of the specified self IPs.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.set_netmaskRequest"/>
		<output message="tns:Networking.SelfIPV2.set_netmaskResponse"/>
	</operation>
	<operation name="set_traffic_group">
	<documentation>
 Sets the traffic groups for a set of self IP addresses.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.set_traffic_groupRequest"/>
		<output message="tns:Networking.SelfIPV2.set_traffic_groupResponse"/>
	</operation>
	<operation name="set_vlan">
	<documentation>
 Sets the VLANs with which the specified self IPs are associated.

        	</documentation>
		<input message="tns:Networking.SelfIPV2.set_vlanRequest"/>
		<output message="tns:Networking.SelfIPV2.set_vlanResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.SelfIPV2Binding" type="tns:Networking.SelfIPV2PortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="add_allow_access_list">
	<documentation>
 Adds the list of access methods, with optional protocols/ports, for the specified self IPs.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="add_default_protocol_port_access_list">
	<documentation>
 Adds to the default list of protocols/ports on which access is allowed.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Creates the specified self IP addresses with extended attributes.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_self_ips">
	<documentation>
 Deletes all self IP addresses.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_self_ip">
	<documentation>
 Deletes the specified self IP addresses.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_address">
	<documentation>
 Gets the IP addresses of the specified self IPs.

 Note: A set_address method is not supported.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_allow_access_list">
	<documentation>
 Gets the access lists for the specified self IPs.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_default_protocol_port_access_list">
	<documentation>
 Gets the default protocol/port access list on which access is allowed.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_description">
	<documentation>
 Gets the descriptions for a set of self IP addresses.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_floating_state">
	<documentation>
 Gets the floating states of the specified self IPs.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_list">
	<documentation>
 Gets a list of all self IPs on this device.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_netmask">
	<documentation>
 Gets the netmasks of the specified self IPs.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_traffic_group">
	<documentation>
 Gets the traffic groups for a set of self IP addresses.
 Note that if the keyword "default" was used to set the
 traffic group, the value returned here will be the actual
 name of the traffic group that was inherited.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_vlan">
	<documentation>
 Gets the VLANs with which the specified self IPs are associated.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="is_traffic_group_inherited">
	<documentation>
 Gets a flag indicating whether the traffic group was
 inherited from the parent folder.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_allow_access_list">
	<documentation>
 Deletes protocols and ports from the allow access list for the specified self IPs.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_default_protocol_port_access_list">
	<documentation>
 Remove protocols and ports from the default list of protocols/ports on which access is allowed.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_description">
	<documentation>
 Sets the descriptions for a set of self IP addresses.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_floating_state">
	<documentation>
 Sets the floating states of the specified self IPs.
 Note: If floating state is being set to enabled, then unit ID will be set to 1 by default.
       If floating state is being set to disabled, then unit ID will be set to 0.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_netmask">
	<documentation>
 Sets the netmasks of the specified self IPs.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_traffic_group">
	<documentation>
 Sets the traffic groups for a set of self IP addresses.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_vlan">
	<documentation>
 Sets the VLANs with which the specified self IPs are associated.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/SelfIPV2"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/SelfIPV2"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.SelfIPV2">
	<documentation>
 The SelfIP interface enables you to work with the definitions and attributes contained in a device's Self IP.

        	</documentation>
	<port name="Networking.SelfIPV2Port" binding="tns:Networking.SelfIPV2Binding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
